<div class="input_wrapper">
    <input type="text" placeholder="Search..." id="search_input" ng-model="search"
           ng-style="{'width': (350 * nbColumn) +'px'}"/>
</div>

<label>
    Keywords
    <input type="checkbox" ng-model="sf_keywords"/>
</label>

<div class="cards">
    <div class="column_cards" ng-repeat="poiTypesColumn in poiTypesColumns ">
        <div class="card_wrapper" ng-style="{'animation-delay': (100 * $index) + 'ms'}"
             ng-repeat="poiType in poiTypesColumn">
            <div class="card">
                <div class="name">{{poiType.label[language]}}</div>
                <div class="description">{{poiType.description[language]}}</div>
                <div class="keywords">
                    <span class="keyword" ng-repeat="keyword in poiType.keyWords[language]">{{keyword}}</span>
                </div>
                <div class="tags">
                    <div class="tag" ng-repeat="tag in poiType.tags">
                        <span class="tag_key">{{tag.key}}</span><span
                            class="tag_value">{{tag.value}}</span><span
                            class="possible_value"
                            ng-repeat="possibleValue in tag.possibleValues">{{possibleValue}}<span
                            class="possible_divider" ng-if="$index < tag.possibleValues.length -1">/</span></span>
                    </div>
                </div>
                <div class="technical_name"><a href="{{poiType.wikiUrl}}" target="_blank">{{poiType.name}}</a></div>
            </div>
        </div>
    </div>
</div>