<p>This is the partial for view 1.</p>



<input type="text" placeholder="Search" ng-model="search"/>
<label>
    Keywords
    <input type="checkbox" ng-model="sf_keywords"/>
</label>

<div class="cards">
    <div class="card_wrapper" ng-repeat="poiType in poiTypes | filter: searchFilter">
        <div class="card" >
            <div class="name">{{poiType.label[language]}}</div>
            <div class="description">{{poiType.description[language]}}</div>
            <div class="keywords">
                <span class ="keyword" ng-repeat="keyword in poiType.keyWords[language]">{{keyword}}</span>
            </div>
            <div class="tags">
                <div class ="tag" ng-repeat="tag in poiType.tags">
                    <span class="tag_key">{{tag.key}}</span><span class="tag_value">{{tag.value}}</span>
                </div>
            </div>
            <div class="technical_name"><a href="{{poiType.wikiUrl}}">{{poiType.name}}</a></div>
        </div>
    </div>
</div>